<main class="w-50 h-110">
  <div class="relative flex flex-col h-full">
    <div
      class="h-8 w-8 rounded-full bg-white absolute top-49 right-2 flex justify-center items-center cursor-pointer"
    >
      <app-heart-red></app-heart-red>
    </div>
    <img src="assets/mens/M1.avif" class="h-59 rounded-[10px]" />
    <div class="flex flex-col justify-between gap-1 h-full">
      <h1 class="text-[20px] font-semibold mt-2 text-wrap">{{ menData.brand_name }}</h1>
      <p class="text-gray-500">Men Reqular Fit Shirt fgfdh fghgfhgh ghg gjgjg gg</p>
      <div class="flex gap-3">
        <p class="font-semibold">₹1999</p>
        <p class="line-through text-gray-400">₹3000</p>
        <p class="text-[#00976c] font-semibold">43% OFF</p>
      </div>
      <div class="flex gap-1">
        <app-star></app-star>
        <app-star></app-star>
        <app-star></app-star>
        <app-star></app-star>
        <img src="assets/icons/star.svg" class="w-5 h-5 rounded-full" />
      </div>
    </div>
  </div>
</main>
