.hr-underline {
  border: #1f2937 solid 2px;
  width: 30px;
  border-radius: 9999px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.active-link {
  color: #1f2937; /* dark gray text */
}

.active-link .hr-underline {
  transform: scaleX(1);
}
