.hr-underline {
  border: #1f2937 solid 2px;
  transform: scaleX(0);
  transform-origin: left; /* start from the left side */
  transition: transform 0.4s ease-in-out;
  color: #1f2937;
}
.active-link p {
  color: #1f2937;
}

.active-link .hr-underline {
  transform: scaleX(1); /* expand from left to right */
}
