<main>
  <div
    class=" flex flex-col justify-center items-center shadow-lg p-4 bg-white border-b border-b-[#d0d0d0]"
  >
    <div class="w-full flex justify-between items-center cursor-pointer" (click)="toggleAOptions()">
      <p class="text-lg font-semibold text-[#242323]">Address</p>
      <i class="fa-solid" [ngClass]="isAOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    </div>

    <div *ngIf="isAOpen" class="w-full flex flex-col gap-5 mt-4 transition-all duration-700">
      <div
        class="p-3 rounded-lg border border-gray-400 flex sm:flex-row flex-col justify-between items-center"
      >
        <p class="sm:text-[18px] text-[14px] text-black">
          1/345, Whitefield, Bangalore City, Karnataka - 123 456.
        </p>
        <button
          class="bg-[#a8a8a8] rounded-[5px] cursor-pointer text-black py-2 px-3 sm:w-[100px] w-full sm:mt-0 mt-3"
        >
          <i class="fa-solid fa-plus"></i> Add
        </button>
      </div>
      <div
        class="p-3 rounded-lg border border-gray-400 flex sm:flex-row flex-col justify-between items-center w-full"
      >
        <p class="sm:text-[18px] text-[14px] text-black">
          4/145, Green Street, Bangalore City, Karnataka - 123 456.
        </p>
        <!-- <button class="bg-black rounded-[5px] cursor-pointer text-white py-2 px-3 sm:w-[100px] w-full sm:mt-0 mt-3">
            <i class="fa-solid fa-plus"></i> Add
          </button> -->
        <button
          class="bg-gray-800 rounded-[5px] cursor-pointer text-white py-2 px-3 sm:w-[100px] w-full sm:mt-0 mt-3"
        >
          Added
        </button>
      </div>
    </div>
  </div>
</main>
