<main>
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-[30px] sm:text-[40px] font-bold">Top Trending</h1>
    <hr class="border-t-4 border-black rounded-full w-[100px] sm:w-[150px] mt-1" />
  </div>

  <div class="flex md:flex-row flex-col justify-around items-center mt-10 mb-10">
    <img
      src="assets/fashions/F1.jpg"
      class="h-[250px] w-[350px] sm:h-[300px] sm:w-[500px] rounded-2xl"
      alt=""
    />
    <div class="flex flex-col justify-start items-center">
      <p class="text-[20px] font-semibold uppercase">Grap Your Welcome Treat</p>
      <h1 class="text-[40px] sm:text-[60px] font-bold">FLAT 75% OFF</h1>
      <div class="flex bg-gray-800 rounded-2xl border border-gray-800 mt-3">
        <div class="px-6 py-3 text-[15px] sm:text-[18px] text-white">USE CODE</div>
        <div
          (click)="copyCode('NEQ12T4OO')"
          class="bg-white px-6 py-3 rounded-r-2xl text-[18px] text-[#3f3f42] flex items-center gap-2 hover:cursor-pointer hover:bg-[#3f3f42] hover:text-white"
        >
          NEQ12T4OO
          <i class="fa-solid fa-copy"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flex md:flex-row-reverse flex-col justify-around items-center mt-10 mb-10">
    <img
      src="assets/fashions/F6.jpg"
      class="h-[250px] w-[350px] sm:h-[300px] sm:w-[500px] rounded-2xl"
      alt=""
    />
    <div class="flex flex-col justify-start items-center">
      <p class="text-[20px] font-semibold uppercase">Grap Your Welcome Treat</p>
      <h1 class="text-[40px] sm:text-[60px] font-bold">FLAT 75% OFF</h1>
      <div class="flex bg-gray-800 rounded-2xl border border-gray-800 mt-3">
        <div class="px-6 py-3 text-[15px] sm:text-[18px] text-white">USE CODE</div>
        <div
          (click)="copyCode('NEQ12T4OO')"
          class="bg-white px-6 py-3 rounded-r-2xl text-[18px] text-[#3f3f42] flex items-center gap-2 hover:cursor-pointer hover:bg-[#3f3f42] hover:text-white"
        >
          AZXDEF4500
          <i class="fa-solid fa-copy"></i>
        </div>
      </div>
    </div>
  </div>
</main>
