<div class="relative h-[400px] w-[700px] mx-auto overflow-hidden">
  <ul class="h-full w-full relative">
    <li *ngFor="let img of images; let i = index" class="absolute inset-0">
      <img
        [src]="img"
        class="h-full w-full transition-transform duration-500"
        [style.transform]="getTransform(i)"
      />
    </li>
  </ul>

  <div class="flex justify-center items-center my-5">
    <div class="h-[400px] w-[94%] relative flex">
      <div class="w-1/2 h-full relative overflow-hidden">
        <ul class="h-full w-full relative">
          <li *ngFor="let img of images1; let i = index" class="absolute inset-0">
            <img
              [src]="img.src"
              class="h-full w-full object-cover transition-opacity duration-500"
              [class.hidden]="currentIndex !== i"
            />
          </li>
        </ul>
      </div>

      <div class="w-1/2 flex flex-row justify-start p-5">
        <img src="assets/brands/Puma.jpg" class="h-[100px] w-[100px]" alt="" />
        <p class="text-2xl font-semibold mb-5 text-gray-800">
          {{ images1[currentIndex]?.detail }}
        </p>
      </div>
      <div class="absolute flex h-full w-full top-0 left-0">
        <div class="my-auto w-full flex justify-between px-5">
          <button
            class="bg-black text-white h-[30px] w-[30px] rounded-full hover:bg-gray-700"
            (click)="prev()"
          >
            ‹
          </button>
          <button
            class="bg-black text-white h-[30px] w-[30px] rounded-full hover:bg-gray-700"
            (click)="next()"
          >
            ›
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
