<main>
  <app-navbar></app-navbar>

  <div class="flex justify-around">
    <div class="flex flex-col justify-center items-center gap-10">
      <div class="leading-23 flex flex-col justify-start items-center">
        <p class="text-[60px]">Welcome to</p>
        <h1 class="text-[100px] font-semibold">FASHION</h1>
      </div>
      <button
        class="bg-gray-800 text-white py-4 w-[300px] rounded-[13px] text-[19px] cursor-pointer"
      >
        Shop Now
      </button>
    </div>
    <div>
      <img src="assets/logos/Logo.jpg" alt="" />
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-6">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-[40px] font-bold">Top Brands</h1>
      <hr class="border-t-5 border-black rounded-full w-[150px] mt-1" />
    </div>

    <div class="overflow-hidden w-[94%] h-[170px] flex items-center">
      <div class="flex animate-marquee space-x-17">
        <div
          *ngFor="let img of brands"
          class="bg-white h-[150px] w-[150px] rounded-[15px] border border-black shadow-lg shadow-[#b4b4b4] shrink-0"
        >
          <img [src]="img" class="rounded-[15px] h-full w-full object-cover" alt="" />
        </div>

        <div
          *ngFor="let img of brands"
          class="bg-white h-[150px] w-[150px] rounded-[15px] border border-black shadow-lg shadow-[#b4b4b4] shrink-0"
        >
          <img [src]="img" class="rounded-[15px] h-full w-full object-cover" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col mt-10">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-[40px] font-bold">Top Trending</h1>
      <hr class="border-t-5 border-black rounded-full w-[150px] mt-1" />
    </div>

    <div class="flex justify-around items-center mt-10 mb-10">
      <img src="assets/fashions/F1.jpg" class="h-[300px] w-[500px] rounded-2xl" alt="" />
      <div class="flex flex-col justify-start items-center">
        <p class="text-[20px] font-semibold uppercase">Grap Your Welcome Treat</p>
        <h1 class="text-[60px] font-bold">FLAT 75% OFF</h1>
        <div class="flex bg-gray-800 rounded-2xl border border-gray-800">
          <div class="px-6 py-3 text-[18px] text-white">USE CODE</div>
          <div
            class="bg-white px-6 py-3 rounded-r-2xl text-[18px] hover:cursor-pointer hover:bg-[#dedede]"
          >
            NEQ12T4OO
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-around items-center mt-10">
      <div class="flex flex-col justify-start items-center">
        <p class="text-[20px] font-semibold uppercase">Grap Your Welcome Treat</p>
        <h1 class="text-[60px] font-bold">FLAT 65% OFF</h1>
        <div class="flex bg-gray-800 rounded-2xl border border-gray-800">
          <div class="px-6 py-3 text-[18px] text-white">USE CODE</div>
          <div
            class="bg-white px-6 py-3 rounded-r-2xl text-[18px] hover:cursor-pointer hover:bg-[#dedede]"
          >
            ZXR54TOO1
          </div>
        </div>
      </div>
      <img src="assets/fashions/F6.jpg" class="h-[300px] w-[500px] rounded-2xl" alt="" />
    </div>
  </div>

  <div class="flex flex-col mt-10 mb-3">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-[40px] font-bold">Explore's New</h1>
      <hr class="border-t-5 border-black rounded-full w-[150px] mt-1" />
    </div>
  </div>

  <div class="flex justify-center items-center">
    <div class="h-[400px] w-[94%] relative flex">
      <!-- Left side image -->
      <div class="w-1/2 h-full relative overflow-hidden">
        <ul class="h-full w-full relative">
          <li *ngFor="let img of images; let i = index" class="absolute inset-0">
            <img
              [src]="img.src"
              class="h-full w-full object-cover transition-opacity duration-500"
              [class.hidden]="currentIndex !== i"
            />
          </li>
        </ul>
      </div>

      <!-- Right side details -->
      <div class="w-1/2 flex flex-row justify-start items-center p-5 gap-4">
        <img src="assets/brands/Puma.jpg" class="h-[100px] w-[100px]" alt="" />
        <p class="text-2xl font-semibold text-gray-800">
          {{ images[currentIndex].detail }}
        </p>
      </div>

      <!-- Prev/Next buttons -->
      <div class="absolute flex h-full w-full top-0 left-0">
        <div class="my-auto w-full flex justify-between px-5">
          <button
            class="bg-black text-white h-[30px] w-[30px] rounded-full hover:bg-gray-700"
            (click)="Prev()"
          >
            ‹
          </button>
          <button
            class="bg-black text-white h-[30px] w-[30px] rounded-full hover:bg-gray-700"
            (click)="Next()"
          >
            ›
          </button>
        </div>
      </div>
    </div>
    <!-- Image indicator dots -->
  </div>
  <div class="flex justify-center items-center gap-3 mt-2 mb-5">
    <div
      *ngFor="let img of images; let i = index"
      class="h-2 w-[60px] rounded-full border border-[#505050] cursor-pointer transition-all duration-300"
      [class.bg-black]="currentIndex === i"
    ></div>
  </div>
</main>
