<main>
  <div class="flex-col-reverse sm:gap-5 flex justify-around lg:flex-row py-3 mt-20">
    <div class="flex flex-col flex-wrap justify-center items-center gap-10">
      <div class="sm:leading-23 leading-15 flex flex-col justify-start items-center">
        <p class="sm:text-[60px] text-[30px] mt-5">Welcome to</p>
        <h1 class="sm:text-[100px] font-semibold text-[60px]">FASHION</h1>
      </div>
      <button
        class="bg-gray-800 text-white py-4 w-[300px] rounded-[13px] sm:text-[19px] text-[20px] cursor-pointer"
      >
        Shop Now
      </button>
    </div>
    <div class="flex justify-center items-center">
      <img
        src="assets/logos/Logo.jpg"
        class="sm:h-70 sm:w-70 md:h-50 md:w-50 h-50 w-50 select-none rounded-full sm:border-none shadow-lg shadow-[#696969]"
        alt=""
      />
    </div>
  </div>
</main>
