<div class="flex flex-col justify-center items-center gap-2">
  <p class="text-[30px]">Wallet</p>
  <hr class="border-t-4 border-gray-800 rounded-full w-30" />
</div>
<div class="w-140 bg-gray-700 rounded-[20px] my-5">
  <div class="h-25 rounded-[20px] border-2 border-[#d7d7d7] bg-white">
    <div class="flex justify-between px-10">
      <div class="flex flex-col gap3 justify-center items-center">
        <p class="font-semibold text-[22px]">₹150.00</p>
        <p class="text-gray-700 text-[14px]">Wallet Balance</p>
      </div>
      <div class="h-24 w-16 bg-gray-800 flex justify-center pt-3">
        <i class="fa-solid fa-star text-white text-[25px]"></i>
      </div>
    </div>
  </div>
  <p class="text-center text-white py-1 text-[14px]">₹150.00 expires by 01 Dec 2026</p>
</div>
