<main>
 
  <div class="h-full w-full flex flex-wrap justify-center items-center gap-20 my-10">
    <div
      *ngFor="let men of AllData; let i = index"
      (click)="AddToBag(men)"
      class="relative flex flex-col border-2 border-[#d3d3d3] p-2 rounded-[10px] w-54 cursor-pointer hover:border-black hover:border-2"
    >
      <div
        (click)="ChangeLike(men._id)"
        class="h-8 w-8 rounded-full bg-white absolute top-52 right-4 flex justify-center items-center cursor-pointer"
      >
        <app-heart *ngIf="men.isLike == false"></app-heart>
        <app-heart-red *ngIf="men.isLike == true"></app-heart-red>
      </div>

      <img [src]="men.img_src" class="h-59 w-full rounded-[10px]" />
      <div class="h-34 flex flex-col gap-1 justify-between">
        <h1 class="text-[20px] font-semibold mt-2">{{ men.brand_name }}</h1>
        <p class="text-gray-500">{{ men.details }}</p>
        <div class="flex gap-3">
          <p class="font-semibold">₹{{ men.new_rs }}</p>
          <p class="line-through text-gray-400">₹{{ men.old_rs }}</p>
          <p class="text-[#00976c] font-semibold">{{ men.offer }}% OFF</p>
        </div>
        <div class="flex gap-1">
          <app-star *ngFor="let star of [].constructor(+men.stars)"></app-star>

          <img
            *ngFor="let star of [].constructor(5 - +men.stars); let i = index"
            src="assets/icons/star.svg"
            class="w-5 h-5 rounded-full"
          />
        </div>
      </div>
    </div>
  </div>
</main>
