<main>
  <div class="w-full flex flex-col justify-start gap-2">
    <p class="text-[30px]">Profile</p>
    <hr class="border-t-4 border-gray-800 rounded-full w-30" />
  </div>
  <table class="w-full">
    <tbody>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">Name</td>
        <td class="px-5 text-end font-semibold">ABCDEFGH I</td>
      </tr>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">Email</td>
        <td class="px-5 text-end font-semibold">abcdef@gmail.com</td>
      </tr>

      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">Ph No</td>
        <td class="px-5 text-end font-semibold">+91 98765 43210</td>
      </tr>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">Address</td>
        <td class="px-5 text-end font-semibold">1/123 A, Abc Street, XYZ City.</td>
      </tr>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">PIN No</td>
        <td class="px-5 text-end font-semibold">123 456</td>
      </tr>
    </tbody>
  </table>
</main>
