<main class="w-screen min-h-screen bg-gray-50 flex justify-center">
  <div
    class="w-full max-w-4xl flex flex-col gap-6 px-4 py-8 sm:px-6 md:px-10 lg:px-12 items-center"
  >
    
    <app-dp class="w-full"></app-dp>
    <app-profiles class="w-full"></app-profiles>
    <app-orders class="w-full"></app-orders>
    <app-categories class="w-full"></app-categories>

   
    <div class="flex flex-col justify-center items-center gap-2 mt-4">
      <button
        class="bg-gray-800 text-white rounded-xl w-[90%] sm:w-72 md:w-80 text-lg sm:text-xl py-2 transition hover:bg-gray-900"
      >
        Logout
      </button>
      <p class="text-gray-700 text-sm sm:text-[14px]">Version 0.0.1 Build 2026</p>
    </div>
  </div>
</main>
