<main>
  <app-navbar></app-navbar>
  <div class="w-full h-full flex flex-col px-5 items-center justify-center py-5">
    <div class="w-[80%] flex flex-col gap-5 justify-center items-center bg-">
      <div
        class="relative w-full flex justify-between bg-[#d5faff] items-center px-8 py-4 rounded-[20px] shadow-md border border-[#bababa]"
      >
       <p
          class="bg-gray-800 text-white w-10 h-10 p-2 text-[15px] flex justify-center items-center rounded-full absolute right-0 top-0 cursor-pointer"
        >
         <i class="fa-solid fa-pencil text-white"></i>
        </p>
        <div
          class="h-33 w-33 bg-gray-800 text-white rounded-full text-[80px] flex justify-center items-center"
        >
          F
        </div>
        <div class="flex flex-col justify-end items-end gap-3 mr-6">
          <p class="text-[22px] font-bold">ABCEDFRGT</p>
          <p class="text-gray-800">abcd@gmail.com</p>
          <p class="text-gray-800">91 98765 43210</p>
        </div>
      </div>

      <div class="w-full flex flex-col justify-start gap-2">
        <p class="text-[30px]">Profile</p>
        <hr class="border-t-4 border-gray-800 rounded-full w-30" />
      </div>
      <div class="flex flex-col gap-4 items-start justify-start w-full px-5">
        <table class="w-full">
          <tbody>
            <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
              <td class="text-gray-700 py-4 px-4">Name</td>
              <td class="text-end font-semibold px-5">ABCDEFGH X</td>
            </tr>
            <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
              <td class="text-gray-700 py-4 px-4">Email</td>
              <td class="text-end font-semibold px-5">abcd@gmail.com</td>
            </tr>
            <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
              <td class="text-gray-700 py-4 px-4">Ph No</td>
              <td class="text-end font-semibold px-5">+91 98765 43210</td>
            </tr>
            <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
              <td class="text-gray-700 py-4 px-4">Address</td>
              <td class="text-end font-semibold px-5">1/123 A, ABC Street, XYZ City</td>
            </tr>
            <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
              <td class="text-gray-700 py-4 px-4">PIN No</td>
              <td class="text-end font-semibold px-5">123 - 456</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="w-full flex flex-col justify-start gap-2">
        <p class="text-[30px]">Your Orders</p>
        <hr class="border-t-4 border-gray-800 rounded-full w-30" />
      </div>
      <table class="w-full">
        <tbody>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">Favourites</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">Bags</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
        </tbody>
      </table>
      <div class="w-full flex flex-col justify-start gap-2">
        <p class="text-[30px]">Categories</p>
        <hr class="border-t-4 border-gray-800 rounded-full w-30" />
      </div>

      <table class="w-full">
        <tbody>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">All</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">Men</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">Women</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
          <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
            <td class="text-black px-5 py-4 w-[99%]">Kids</td>
            <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
          </tr>
        </tbody>
      </table>
      <div class="flex flex-col justify-center items-center gap-2">
        <p class="text-[30px]">Wallet</p>
        <hr class="border-t-4 border-gray-800 rounded-full w-30" />
      </div>
      <div class="w-140 bg-gray-700 rounded-[20px] my-5">
        <div class="h-25 rounded-[20px] border-2 border-[#d7d7d7] bg-white">
          <div class="flex justify-between px-10">
            <div class="flex flex-col gap3 justify-center items-center">
              <p class="font-semibold text-[22px]">₹150.00</p>
              <p class="text-gray-700 text-[14px]">Wallet Balance</p>
            </div>
            <div class="h-24 w-16 bg-gray-800 flex justify-center pt-3">
              <i class="fa-solid fa-star text-white text-[25px]"></i>
            </div>
          </div>
        </div>
        <p class="text-center text-white py-1 text-[14px]">₹150.00 expires by 01 Dec 2026</p>
      </div>
      <div class="flex flex-col justify-center items-center gap-2">
        <button class="bg-gray-800 text-white rounded-[10px] w-80 text-[22px] py-2">Logout</button>
        <p class="text-gray-700 text-[14px]">Version 0.0.1 Build 2026</p>
      </div>
    </div>
  </div>
</main>
