<main class="w-screen flex flex-col justify-center items-center gap-5">
  <h1 class="text-[32px] py-4">Admin API's</h1>
  <div
    class="w-[90%] rounded-[10px] flex justify-start items-center py-2 px-2 bg-[#05804b54] cursor-pointer border-2 border-[#05804b54] hover:border-[#05804b]"
  >
    <button
      routerLink="/adminapi/post"
      class="h-18 w-[200px] cursor-pointer rounded-[10px] text-[32px] font-semibold text-white text-center bg-[#05804b]"
    >
      POST
    </button>
    <p class="text-[19px] font-semibold ml-5 cursor-pointer">
      http://localhost:3000/admin/post/ add new item
    </p>
  </div>
  <div
    class="w-[90%] rounded-[10px] flex justify-start items-center py-2 px-2 bg-[#005c9554] cursor-pointer border-2 border-[#005c9554] hover:border-[#0088ea]"
  >
    <button
      routerLink="/adminapi/get"
      class="h-18 w-[200px] cursor-pointer rounded-[10px] text-[32px] font-semibold text-white text-center bg-[#0088ea]"
    >
      GET
    </button>
    <p class="text-[19px] font-semibold ml-5 cursor-pointer">
      http://localhost:3000/admin/GET/ get all items
    </p>
  </div>
</main>
<router-outlet></router-outlet>
