<main>
  <div class="w-full flex flex-col justify-start gap-2">
    <p class="text-[25px] sm:text-[30px]">Your Orders</p>
    <hr class="border-t-4 border-gray-800 rounded-full w-20 sm:30" />
  </div>
  <table class="w-full">
    <tbody>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4">Favourites</td>
        <td class="px-5 text-end font-semibold">
          <app-right-arrow></app-right-arrow>
        </td>
      </tr>
      <tr class="border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer">
        <td class="text-black px-5 py-4 w-[99%]">Bags</td>
        <td class="px-5 text-end font-semibold w-[1%]"><app-right-arrow></app-right-arrow></td>
      </tr>
    </tbody>
  </table>
</main>
