<main>
  <div class="w-full flex flex-col justify-start gap-2">
    <p class="text-[25px] sm:text-[30px]">Your Orders</p>
    <hr class="border-t-4 border-gray-800 rounded-full w-20 sm:30" />
  </div>
  <div>
    <div class="flex justify-between items-center border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer"> 
      <p class="text-black px-5 py-4">Favourites</p>
      <app-right-arrow class="pr-5"></app-right-arrow>
    </div>
    <div class="flex justify-between items-center border-b border-b-gray-300 hover:bg-[#d5faff] cursor-pointer"> 
      <p class="text-black px-5 py-4">Bags</p>
      <app-right-arrow class="pr-5"></app-right-arrow>
    </div>
  </div>
</main>