<main>
  <div
    class="relative flex bg-gray-800 justify-between items-center px-8 py-4 rounded-[20px] shadow-md border border-[#bababa] cursor-pointer"
  >
    <div
      class="sm:h-23 sm:w-23 h-15 w-15 bg-gray-800 text-white rounded-full text-[60px] sm:text-[80px] flex justify-center items-center"
    >
      <img src="assets/logos/Orders.png" class="h-full w-full rounded-full" alt="" />
    </div>
    <div class="flex justify-end items-end gap-3 mr-6 text-white">
      <p class="sm:text-[22px] text-[18px] text-white">My Orders</p>
    </div>
  </div>
</main>
