<main>
  <app-navbar></app-navbar>
  <div class="h-full w-full flex flex-wrap gap-15 justify-start items-center">
    <div>
      <div class="h-55 w-45 bg-amber-700 rounded-[10px]"></div>
      <div class="flex">
        <h1>NETPLAY</h1>
        <div class="flex border rounded-[17px] justify-center items-center p-1">
          <img src="assets/icons/heartfill.svg" class="w-5 h-5 rounded-full" />
          <p>1.2M</p>
        </div>
      </div>
      <p>Men Regular Fit SHirt</p>
      <div class="flex gap-4">
        <p>₹1888</p>
        <p class="line-through">₹2999</p>
        <p class="text-green-600">45% OFF</p>
      </div>
      <div class="flex">
        <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
        <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
        <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
        <img src="assets/icons/star.svg" class="w-5 h-5 rounded-full" />
        <img src="assets/icons/star.svg" class="w-5 h-5 rounded-full" />
      </div>
    </div>
  </div>
</main>
