<main>
  <app-navbar></app-navbar>
  <div class="h-full w-full flex flex-wrap justify-center items-center gap-20 my-10">
    <div *ngFor="let men of MenDetails; let i = index" class="flex flex-col border w-50">
      <div class="h-55 w-full bg-amber-700 rounded-[10px]"></div>
      <div class="h-45 flex flex-col gap-2 justify-between">
        <h1 class="text-[20px] font-semibold">{{ men.brand }}</h1>
        <p class="text-gray-500">{{ men.name }}</p>
        <div class="flex gap-3">
          <p class="font-semibold">₹{{ men.rs }}</p>
          <p class="line-through text-gray-400">₹{{ men.oldrs }}</p>
          <p class="text-[#00976c] font-semibold">{{ men.off }}% OFF</p>
        </div>
        <div class="flex gap-1">
          <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
          <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
          <img src="assets/icons/starfill.svg" class="w-5 h-5 rounded-full" />
          <img src="assets/icons/star.svg" class="w-5 h-5 rounded-full" />
          <img src="assets/icons/star.svg" class="w-5 h-5 rounded-full" />
        </div>
      </div>
    </div>
  </div>
</main>
