<main>
  <app-navbar></app-navbar>
  <div class="w-full flex flex-wrap justify-around py-5 gap-10">
    <div class="w-[40%] h-[300px] px-3 py-2 flex justify-between border border-[#dddddd] rounded-[20px] shadow-md">
      <img src="assets/mens/M1.avif" class="h-70 w-60 rounded-[20px]" alt="" />
      <div class="w-full px-5 py-3 flex flex-col gap-2">
        <h1>NETPLAY</h1>
        <p>Men Regular Fit Shirt</p>
        <div class="flex justify-start gap-6">
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Size: M</button>
            <app-down-arrow></app-down-arrow>
          </div>
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Qty: 3</button>
            <app-down-arrow></app-down-arrow>
          </div>
        </div>

        <div class="flex gap-3">
          <p class="font-semibold">$2000</p>
          <p class="text-gray-500 line-through">$3000</p>
          <p class="font-semibold text-green-500">45% OFF</p>
        </div>
        <p class="text-green-500">You Save $1000.00</p>
        <div class="flex gap-3 h-7">
          <app-truck></app-truck>
          <p class="text-gray-500">Delivery by <span class="text-black">10 Nov</span></p>
        </div>
        <div
          class="h-10 w-[230px] mt-5 rounded-[10px] flex justify-between items-center px-2 border border-gray-400 cursor-pointer hover:bg-black hover:text-white"
        >
          <button class="text-gray-400 hover:text-white">Remove</button>
          <app-remove
            [customClass]="{ 'text-gray-300': true, 'hover:text-white': true }"
          ></app-remove>
        </div>
      </div>
    </div>
    <div class="w-[40%] h-[300px] px-3 py-2 flex justify-between border border-[#dddddd] rounded-[20px] shadow-md">
      <img src="assets/mens/M1.avif" class="h-70 w-60 rounded-[20px]" alt="" />
      <div class="w-full px-5 py-3 flex flex-col gap-2">
        <h1>NETPLAY</h1>
        <p>Men Regular Fit Shirt</p>
        <div class="flex justify-start gap-6">
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Size: M</button>
            <app-down-arrow></app-down-arrow>
          </div>
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Qty: 3</button>
            <app-down-arrow></app-down-arrow>
          </div>
        </div>

        <div class="flex gap-3">
          <p class="font-semibold">$2000</p>
          <p class="text-gray-500 line-through">$3000</p>
          <p class="font-semibold text-green-500">45% OFF</p>
        </div>
        <p class="text-green-500">You Save $1000.00</p>
        <div class="flex gap-3 h-7">
          <app-truck></app-truck>
          <p class="text-gray-500">Delivery by <span class="text-black">10 Nov</span></p>
        </div>
        <div
          class="h-10 w-[230px] mt-5 rounded-[10px] flex justify-between items-center px-2 border border-gray-400 cursor-pointer hover:bg-black hover:text-white"
        >
          <button class="text-gray-400 hover:text-white">Remove</button>
          <app-remove
            [customClass]="{ 'text-gray-300': true, 'hover:text-white': true }"
          ></app-remove>
        </div>
      </div>
    </div>
    <div class="w-[40%] h-[300px] px-3 py-2 flex justify-between border border-[#dddddd] rounded-[20px] shadow-md">
      <img src="assets/mens/M1.avif" class="h-70 w-60 rounded-[20px]" alt="" />
      <div class="w-full px-5 py-3 flex flex-col gap-2">
        <h1>NETPLAY</h1>
        <p>Men Regular Fit Shirt</p>
        <div class="flex justify-start gap-6">
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Size: M</button>
            <app-down-arrow></app-down-arrow>
          </div>
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Qty: 3</button>
            <app-down-arrow></app-down-arrow>
          </div>
        </div>

        <div class="flex gap-3">
          <p class="font-semibold">$2000</p>
          <p class="text-gray-500 line-through">$3000</p>
          <p class="font-semibold text-green-500">45% OFF</p>
        </div>
        <p class="text-green-500">You Save $1000.00</p>
        <div class="flex gap-3 h-7">
          <app-truck></app-truck>
          <p class="text-gray-500">Delivery by <span class="text-black">10 Nov</span></p>
        </div>
        <div
          class="h-10 w-[230px] mt-5 rounded-[10px] flex justify-between items-center px-2 border border-gray-400 cursor-pointer hover:bg-black hover:text-white"
        >
          <button class="text-gray-400 hover:text-white">Remove</button>
          <app-remove
            [customClass]="{ 'text-gray-300': true, 'hover:text-white': true }"
          ></app-remove>
        </div>
      </div>
    </div>
    <div class="w-[40%] h-[300px] px-3 py-2 flex justify-between border border-[#dddddd] rounded-[20px] shadow-md">
      <img src="assets/mens/M1.avif" class="h-70 w-60 rounded-[20px]" alt="" />
      <div class="w-full px-5 py-3 flex flex-col gap-2">
        <h1>NETPLAY</h1>
        <p>Men Regular Fit Shirt</p>
        <div class="flex justify-start gap-6">
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Size: M</button>
            <app-down-arrow></app-down-arrow>
          </div>
          <div
            class="flex justify-between border border-[#b4b4b4] bg-[#def9ff] w-[100px] px-2 py-1 rounded-[10px]"
          >
            <button>Qty: 3</button>
            <app-down-arrow></app-down-arrow>
          </div>
        </div>

        <div class="flex gap-3">
          <p class="font-semibold">$2000</p>
          <p class="text-gray-500 line-through">$3000</p>
          <p class="font-semibold text-green-500">45% OFF</p>
        </div>
        <p class="text-green-500">You Save $1000.00</p>
        <div class="flex gap-3 h-7">
          <app-truck></app-truck>
          <p class="text-gray-500">Delivery by <span class="text-black">10 Nov</span></p>
        </div>
        <div
          class="h-10 w-[230px] mt-5 rounded-[10px] flex justify-between items-center px-2 border border-gray-400 cursor-pointer hover:bg-black hover:text-white"
        >
          <button class="text-gray-400 hover:text-white">Remove</button>
          <app-remove
            [customClass]="{ 'text-gray-300': true, 'hover:text-white': true }"
          ></app-remove>
        </div>
      </div>
    </div>
  </div>
</main>
